<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>arm64</Platform>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SelfContained>True</SelfContained>
  </PropertyGroup>
</Project>
